<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>

      <div class="outer">

          <div class="chart-hed">
            Washington's top baby names in <span class="info"></span>
          </div>

        <div class="chart">

          <div class="dropdown">
            Select a year:
            <select name="select">
              <option selected="selected" disabled="disabled">--</option>
              <% for (var i = 2013; i > 1979; i--) { %>
                <option value= <%= i %> > <%= i %> </option> 
              <% } %>
            </select>

            <div class="controls">
              <div class="start selected"><i class="fa fa-play"></i></div>
              <div class="pause"><i class="fa fa-pause"></i></div>
            </div>
          </div>

          

          <div class="bubbles">
            <div class="tooltip"></div>
          </div>

          <div class="note">Roll over a name for more information.</div>
        </div>

        <div class="source">
          <em>Source: Washington State Department of Health</em>
        </div>
        <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>

      </div>
      
    </responsive-child>

    <script>
      var namesData = <%= JSON.stringify(csv.baby_names) %>;
    </script>
    <script src="../app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
