<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      
      <div class="table" ng-app="baby-names">
        <div class="hed">How popular was your name?</div>
        <div class="chatter">Enter your name below to see if it ranked in the top 100 in Washington state between 1980 and 2013.</div>
        <div ng-controller="NamesController">
          
          <input type="text" ng-change="search()" ng-model="searchText">

          <div class="table-container">
            <table class="names-table">
            <thead>
              <tr ng-show="found.length > 0">
                <th>Name
                <th>Year
                <th>Rank

            <tbody>
              <tr ng-show="found.length == 0 && !fresh">
                <td colspan=100><em>No results found</em>
              <tr ng-repeat="row in found track by $index" class="row">
                <td><span ng-show="$index == 0">{{row.name}}</span>
                <td>{{row.year}} 
                <td>#{{row.rank}}
            </table>
          </div>
        </div>

        <div class="scroll"><i class="fa fa-angle-double-down"></i> Scroll for more</div>

        <div class="source">
          <em>Source: Washington State Department of Health</em>
        </div>
        <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>

      </div>

    </responsive-child>

    <script>
      var namesData = <%= JSON.stringify(csv.baby_names) %>;
    </script>
    <script src="../table.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
