* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

body {
  font-family: @df-sans;
  max-width: 620px;
}

.outer {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  padding: 20px 0;
}

.hed {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

.chatter {
  font-size: 14px;
  padding-bottom: 15px;
}

.chart {
  width: 320px;
  margin: auto;

  &.clickable {
    .node {
      cursor: pointer;
    }

    .note {
      display: block;
    }
  }
}

.chart-hed {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2px;
}
.chart-chatter {
  text-align: center;
  font-size: 14px;
  font-family: @df-serif;
}

.table {
  width: 268px;
  display: inline-block;
}

.tooltip {
  display: none;
  position: absolute;
  background: @df-off-white;
  font-size: 12px;
  padding: 5px;
  border: 1px solid @df-light-gray;
  white-space: nowrap;

  &.show {
    display: block;
  }

  &.flip {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.controls {
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  padding-left: 20px;
}
.start, .pause {
  border: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  color: @df-charcoal;
  background: @df-light-gray;
  padding: 5px 10px 4px 10px;

  &:hover {
    background: @df-border-gray;
  }

  &.selected {
    color: @df-blue;
    cursor: default;
    background: @df-border-gray;
  }
}

.bubbles {
  text-align: center;
  position: relative;
}
.dropdown {
  text-align: center;
  font-size: 15px;

  select {
    margin-left: 3px;
  }
}

.note {
  display: none;
  font-size: 14px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.node {
  font-size: 13px;
}

.info {
  color: @df-middle-gray;
}

.table-container {
  max-height: 200px;
  overflow-y: scroll;
}

.table {
  width: 100%;
  
  input {
    margin-bottom: 10px;
  }

  .source {
    border-top: 1px solid @df-light-gray;
    margin-top: 10px;
  }

  .source, .credit {
    font-size: 11px;
    text-align: right;
  }
}

table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;

  tbody tr:nth-child(even) {
    background: @df-off-white;
  }

  th {
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #EEE;
  }

  td {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #EEE;
    text-align: center;
  }
}

.scroll {
  display: none;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;

  &.show {
    display: block;
  }
}

.source {
  padding-top: 10px;
}
.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}
